{{#with data}}
  <img src="{{first_url_string}}{{backdrop_path}}" alt="backdrop image" />
  <h1>{{original_title}}</h1>
  <span>{{tagline}}</span>
  <p>{{overview}}</p>

  <form action="/film-details/{{id}}" method="POST">
    <button type="submit">Add to watch list</button>
  </form>

  <h6>Review:</h6>
  <form action="/film/{{id}}/review" method="POST">
    <textarea class="form-control" id="review" name="review" rows="3"></textarea>

    <button type="submit">Submit</button>
  </form>


  <h6></h6>

{{/with}}

{{! to include in details page, from movieInfo api call: original_title, overview, poster_path, genres, tagline }}