<div class="container-fluid navbar-correction">
  <div class="row user-profile">
    <div class="col">
{{#with data}}
  <img src="{{first_url_string}}{{backdrop_path}}" alt="backdrop image" />
  </div>
  <div class="col">
  <h1>{{original_title}}</h1>
  <h6>{{monthAndYearOfRelease}}</h6>
  {{#with ../director}}
    <h4>Directed by {{this.name}}</h4>
  {{/with}}

  <p>{{tagline}}</p>
  <p>{{overview}}</p>



{{#if ../watchlistButton}}
  <form action="/film-details/{{id}}" method="POST">
    <input class="btn btn-warning btn-watchlist" type="submit" value="To watch"</>

  </form>
{{else}}
<form action="/films/watchlist/{{this.id}}/delete" method="POST">
          <input class="btn btn-warning btn-watchlist" type="submit" value="Watched" />
        </form>

{{/if}}

{{#if ../likeButton}}
 <form action="/film-details/{{id}}/like" method="POST">

    <input class="btn btn-outline-warning" type="submit" value="Like"/>
  </form>
{{else}}
   <form action="/film-details/{{id}}/unlike" method="POST">
          <input class="btn btn-outline-warning" type="submit" value="Un-like" />
        </form>

{{/if}}
</div>
</div>
  </div>
</div>




{{! to include in details page, from movieInfo api call: original_title, overview, poster_path, genres, tagline }}

<div class="container-fluid">
  <div class="row align-items-center user-profile2">
    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button accordion-bkg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Genres
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse collapsed" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body accordion-bkg">
        <strong>
    {{#each genres}}
      <span class="film-item">{{this.name}}</span>
    {{/each}}
{{/with}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed accordion-bkg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Cast
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body accordion-bkg">
        {{#each cast}}
            <span class="film-item">{{this.name}}</span>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed accordion-bkg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Reviews
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body accordion-bkg">
        {{#if viewReviewBox}}
  <h6>Submit your review today:</h6>
  <form action="/film/{{data.id}}/review" method="POST">
    <textarea class="form-control" id="review" name="review" rows="3"></textarea>

    <input class="btn btn-outline-warning" type="submit" value="Submit"</>
  </form>
{{/if}}

{{#if userReviewsHeader}}
  <h6>Submit your review here:</h6>
  {{#each allUserReviewsForMovie}}
    <ul>
      <li class="review-list-item">{{this.userName}}: {{this.review}}</li>
    </ul>
  {{/each}}
  {{/if}}
      </div>
    </div>
  </div>
</div>
  </div>
</div>