{{!-- {{#with data}}
{{#with data}}
  <img src="{{first_url_string}}{{backdrop_path}}" alt="backdrop image" />
  <h1>{{original_title}}</h1>
  <span>{{tagline}}</span>
  <p>{{overview}}</p>

{{/with}} --}}

{{! to include in details page, from movieInfo api call: original_title, overview, poster_path, genres, tagline }}
{{#with data}}
<div class="container-fluid single-film">
  <img
            class="image-single-film"
            src="{{first_url_string}}{{backdrop_path}}"
            alt="{{original_title}} poster"
          />
  <div class="row bottom-left">
    <div class="col main-info-film ">
      <h1>{{original_title}}</h1>
        
        <p>{{genres.[0].name}}</p>
        <p>{{production_companies.[0].name}}</p>
        <p>{{release_date}}</p>
    </div>
    <div class="col">
      <span>{{tagline}}</span>
      <p>{{overview}}</p>
    </div>
    
  </div>
</div>
<div class="container-fluid navbar-correction">
  <div class="row align-items-center user-profile">
    
      <div class="col-3 user-profile3 col-films img-container">
        <a href="/film-details/{{id}}"><img
            class="image"
            src="{{first_url_string}}{{backdrop_path}}"
            alt="{{original_title}} poster"
          />
        </a>
        <div class="overlay">
          <div class="action-icon-films">
            <a href="/film-details/{{id}}"><i
                class="bi bi-bookmark-plus icon-films"
              ></i></a>
            <a href="/film-details/{{id}}"><i
                class="bi bi-star-fill icon-films"
              ></i></a>
            <a href="/film-details/{{id}}"><i
                class="bi bi-share-fill icon-films"
                alt="share"
              ></i></a>
          </div>
        </div>
      </div>
      <div class="col-8 user-profile3">
        <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#cast" role="button" aria-expanded="false" aria-controls="cast">
    Cast
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#crew" aria-expanded="false" aria-controls="collapseExample">
    Crew
  </button>
</p>
<div class="collapse-show collapsing" id="cast">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
<div class="collapse" id="crew">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
      </div>

  </div>
</div>
  <form action="/film-details/{{id}}" method="POST">
    <button type="submit">Add to watch list</button>
  </form>

  <h6>Review:</h6>
  <form action="/film/{{id}}/review" method="POST">
    <textarea class="form-control" id="review" name="review" rows="3"></textarea>

    <button type="submit">Submit</button>
  </form>
{{/with}}

{{#if dbEntry}}
  <h6>User Reviews:</h6>
  {{#each dbEntry}}
    <ul>
      <li class="review-list-item">USER NAME:{{this.review}}</li>

    </ul>
  {{/each}}
{{/if}}

{{! to include in details page, from movieInfo api call: original_title, overview, poster_path, genres, tagline }}
