{{#with data}}
  <img src="{{first_url_string}}{{backdrop_path}}" alt="backdrop image" />
  <h1>{{original_title}}</h1>
  <h6>{{releaseYear}}</h6>
  {{#with ../director}}
    <p>Directed by {{this.name}}</p>
  {{/with}}

  <span>{{tagline}}</span>
  <p>{{overview}}</p>

  <form action="/film-details/{{id}}" method="POST">
    <button type="submit">Add to watch list</button>
  </form>

 <form action="/film-details/{{id}}/like" method="POST">
    <button type="submit">Like</button>
  </form>


  Genres:
  <ul>
    {{#each genres}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>
{{/with}}

Cast:

{{#each cast}}
  <ul>
    <li>{{this.name}}</li>
  </ul>
{{/each}}

{{#if viewReviewBox}}
  <h6>Review:</h6>
  <form action="/film/{{data.id}}/review" method="POST">
    <textarea class="form-control" id="review" name="review" rows="3"></textarea>

    <button type="submit">Submit</button>
  </form>
{{/if}}

{{#if reviewEntry}}
  <h6>User Reviews:</h6>
  {{#each reviewEntry.review}}
    <ul>
      <li class="review-list-item">USER NAME:{{reviewEntry.review}}</li>
    </ul>
  {{/each}}
{{/if}}

{{! to include in details page, from movieInfo api call: original_title, overview, poster_path, genres, tagline }}