{{#if data}}
  <div class="container-fluid navbar-correction">
    <div class="row align-items-center">
      {{#each data}}
        <div class="col-md-2 col-films col-sm-12 img-container">
          <a href="/film-details/{{this.id}}"><img
              class="image"
              src="{{this.first_url_string}}{{this.poster_path}}"
              alt="{{this.original_title}} poster"
            />
          </a>
          <div class="overlay">
            <div class="action-icon-films" data-movie-id="{{this.id}}">
              <i class="bi bi-bookmark-plus icon-films"></i>
              <i class="bi bi-star-fill icon-films"></i>
              <i class="bi bi-share-fill icon-films" alt="share"></i>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}

<script src="/js/icon-events.js"></script>
