<h1 class="main-content">Upcoming Films</h1>

<h4>Select a country:</h4>
<form action="/upcoming" id="region-and-lang" method="GET">
<select form="region-and-lang" id="region" name="region" class="form-control">
  <option value="DE">Germany</option>
  <option value="US">United States</option>
</select>
<h4>Select a language:</h4>
<select form="region-and-lang" id="language" name="language" class="form-control">
  <option value="de">German</option>
  <option value="en-US">English (US)</option>
</select>
<br />
  <input type="submit" value="Upcoming Films" />
</form>

{{#if upcoming}}
<div class="container-fluid navbar-correction">
  <div class="row align-items-center">
    {{#each upcoming}}
    <div class="col-md-2 col-films col-sm-12 img-container">
      <a href="/film-details/{{this.id}}"><img class="image" src="{{this.first_url_string}}{{this.poster_path}}"
          alt="{{this.original_title}} poster" />
      </a>
      {{#if ../user}}
      <div class="overlay">
        <div class="action-icon-films" data-movie-id="{{id}}">
          <i class="bi bi-bookmark-plus icon-films {{isWatched ../userMoviesById id}}" ></i>
          <i class="bi bi-star-fill icon-films {{isStarred ../userMoviesById id}}"></i>
        </div>
      </div> 
      {{/if}}
    </div>
    {{/each}}

{{/if}}