<h1>test</h1>

<div id="watchlist-container">
  <h4>Watchlist:</h4>

  <ul id="film-list-ul">
    {{#each watchlistData}}
      <li class="user-lists-li"><a href="/film-details/{{this.id}}"><img
            class="user-lists-image"
            src="{{this.first_url_string}}{{this.poster_path}}"
            alt="{{this.original_title}} poster"
          />
        </a>
        <br />
        <form action="/films/watchlist/{{this.id}}/delete" method="POST">
          <input type="submit" value="Watched" />
        </form>
      </li>
    {{/each}}
  </ul>

  <h4>Your reviews:</h4>

  <ul id="film-list-ul">
    {{#each reviewsData}}
      <li class="user-lists-li"><a href="/film-details/{{this.id}}"><img
            class="user-lists-image"
            src="{{this.first_url_string}}{{this.poster_path}}"
            alt="{{this.original_title}} poster"
          />
        </a>
        <br />
        <a href="/film/{{this.id}}/review">Edit</a>

        {{!-- <form action="/films/watchlist/{{this.id}}/delete" method="POST">
        <input type="submit" value="Remove" />
      </form> --}}
      </li>
    {{/each}}
  </ul>

  <h4>Liked movies:</h4>
  <ul id="film-list-ul">
    {{#each likedMoviesData}}
      <li class="user-lists-li"><a href="/film-details/{{this.id}}"><img
            class="user-lists-image"
            src="{{this.first_url_string}}{{this.poster_path}}"
            alt="{{this.original_title}} poster"
          />
        </a>
        <br />
        {{!-- <a href="/film/{{this.id}}/review">Edit</a> --}}
      </li>
    {{/each}}
  </ul>

</div>