<h1>test</h1>

<h4>Watchlist:</h4>
<div id="watchlist-container">

  {{#each data}}
    <ul id="film-results-ul">
      <li><a href="/film-details/{{this.id}}"><img
            src="{{this.first_url_string}}{{this.poster_path}}"
            alt="{{this.original_title}} poster"
          />
        </a>
        <br />
        <h6>Like</h6><h6>Watched</h6>
        <form action="/films/watchlist/{{this.id}}/delete" method="POST">
          <input type="submit" value="Remove" />
        </form>
      </li>
    </ul>
  {{/each}}

</div>